*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section-1{
    width: 95%;
    margin: auto;
    background: #f7f8f8;
}

.nav-pt1{
    display: flex;
    margin: 10px;
    gap: 20px;
    height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.nav-pt1-logo{
    width: 35px;
    height: 20px;
}
.nav-pt2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-pt2-img{
    width: 60px;
    height: 35px;
}
.nav-pt2-btn{
    font-size: 20px;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    transition: .1s;
}
.nav-pt2-btn:hover{
    transform: scale(1.1);
    color: aqua;
    text-decoration: none;
}
.nav-pt2-sell{
    background-image: url(olx-images/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg);
    height: 48px;
    width: 102px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: .1s;
    font-size: 20px;
}
.nav-pt2-sell:hover{
    transform: scale(1.1);
}
.nav-pt2-input{
    border: 1px solid #000;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 10px;
}
.input-1{
    height:50px;
    width: 300px;
}
.input-2{
    height:50px;
    width: 700px;
}

.section-2{
    width: 95%;
    margin: auto;
}
.nav-pt3{
    margin-top: 20px;
}
.nav-pt3 ul {
    list-style: none;
    display: flex;
    margin-left: -25px;
    gap: 15px;
}
.nav-pt3 ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #238f91;

}
.section-3{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.card-ads img{
    height: 200px;
   width:  100%;
   object-fit: cover;
}